
/*section slider*/

#main-slider {
  position: relative;
}
#main-slider .carousel h2 {
  font-size: 36px;
}

#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}

.item-a{
		background-image: url(../images/slider/bg1.jpg);
}
.item-b{
	 background-image: url(../images/slider/bg2.jpg);
}
.item-c{
	 background-image: url(../images/slider/bg3.jpg);
}
#main-slider .carousel h2 {
    font-size: 36px;
}

/*section social*/
.bg-verde {
    background-color: #2ecc71;
        padding-bottom: 60px;
}
.icon-size {
      font-size: 36px;
    width: 68px;
    line-height: 68px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    display: block;
    border-radius: 50%;
}

/*section latest projects*/

#latest-work .item-inner {
    position: relative;
    margin: 0;
}
.portfolio-item .item-inner {
    background: #fff;
    border: 1px solid #eee;
    padding: 10px 10px 0;
    margin: 0 20px 20px 0;
    position: relative;
}
.image-latest h5{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.pad-80{
    padding: 80px 0px;
  }

.ft-bold{
  font-weight: bold;
}

#testimonial{
      background-color: #e74c3c;
}
@media (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 1900px) {


	}