@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import url("sarita.css");
@import url("about.css");
@import url("services.css");
@import url("blog.css");
::-moz-selection { background: #68dff0; }
::selection { background:#68dff0; }

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
    padding-top: 77px;
    color: #34495e;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header{
	background-color: #34495e !important;
}

.pt-pb{
	padding-top: 0.5% !important;
	padding-bottom: 0.5% !important;
}
header li{
	text-align: center;
	font-size: 15px;
}
header li:hover{
	background-color: #2C3E50;
	border-radius: 8px;
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}
.navbar-toggle{
	padding: 11px 10px !important;
 }
.navbar-toggle:focus{
	outline: -webkit-focus-ring-color auto 0px;
    border-style: inherit;

}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #2C3E50;
    border: 1px solid #2C3E50;
}
.navbar-nav>li>a {
    padding-top: 9px;
    padding-bottom: 9px;
}
header ul{
	margin-top: 0.8% !important;
}

/*bottom*/
#bottom {
    color: #bdc3c7;
    background-color: #34495e !important;
}
#bottom a, footer a{
    color: #bdc3c7;
    text-decoration: none;
}
.pad-50{
    padding: 50px 0;
}
ul.arrow {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*footer*/
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #bdc3c7;
  background-color: #2c3e50;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

.text-white{
  color: white;
}

ul.arrow li::before {
    content: "\f105";
}
ul.arrow li::before{
    margin-right: 5px;
}
ul.arrow li::before{
    font-family: FontAwesome;
    font-size: 11px;
}
a:hover, a:focus {
    color: #68dff0;
    text-decoration: none;
}


@media (max-width: 767px){

body {
    padding-top: 63px !important;
}


}

@media (min-width: 768px) and (max-width: 1900px) {

body {
    padding-top: 65px;
}
  }