/** portafolio**/
a:hover{
    text-decoration: none;
}
.main1-portfolio{
    background:#2ecc71;
}
.text-main1{
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
    padding: 50px 0 ;
}
.text-portfolio1{
    width: 70%;
}
.text-portfolio2{
    width:30%;
    display: flex;
    justify-content: flex-end;
}
.mascara{
    display: none;
}
.ejemplo-1:hover .mascara{
    margin-top: -130px;
    display: block;
    z-index: 100;
    position: relative;
}
.ejemplo-1 img {
transition: all 0.2s linear;
}
.ejemplo-1 .mascara {
opacity: 0;
background-color: rgba(188, 241, 189, 0.58);
transition: all 0.3s ease-in-out;
}
.ejemplo-1 h2 {
transform: translateX(-200px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
}
.ejemplo-1 p {
transform: translateX(200px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
}
.ejemplo-1 a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)/*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
transform: scale(0.95);/*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover .mascara {
opacity: 1;
}
.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.ejemplo-1:hover p {
transition-delay: 0.1s;
}
.ejemplo-1:hover a.link {
transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
transform: translateY(0px);
}
.breadcrumb{
    background: none;
}
.breadcrumb li a,.text-main1 {
    color: white;
}
.breadcrumb  li.active {
    color: rgba(255, 255, 255, 0.8);
}
.main2-portfolio{
    padding: 5% 0;
    background-color: #f5f5f5;
}
.main2-content{
    display: flex;
    justify-content:space-between;
    margin-bottom: 1.5%;
}
.img {
    width: 31%;
}
.img img{
    width: calc(100% - 8px);
    height: 25rem;
    margin: 4px;
}
.caption h4{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: #2c3e50;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

@media screen and (min-width:768px) and (max-width:991px){
    .container{
        width: 100%;
        padding: 0;
    }
    .text-main1{
        flex-direction: column; 
        flex-wrap:wrap;
    }
    .text-portfolio1{
    width: 100%;
    flex-direction: column;
    padding-left: 15px;
    }
    .text-portfolio2{
    width:80%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    }
    .img img{
    width: calc(100% - 8px);
    height: 20rem;
    margin: 4px;
    }
    
}
@media screen and (max-width:767px){
    .container{
        width: 100%;
        padding: 0;
    }
    .text-main1{
        flex-direction: column; 
        flex-wrap:wrap;
    }
    .text-portfolio1{
    width: 100%;
    flex-direction: column;
    padding-left: 15px;
}
.text-portfolio2{
    width:80%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
    .img img{
    width: 100%;
    height: 13rem;
    }
}