.description {
	display: flex;
	justify-content:space-between;
    width: 32%;
}
.icono{
	width: 55px;
}
.detail{
	width: calc(100% - 60px);
	font-size: 12px;
	    color: #4f6173;
}
.icono i{
    color: white;
    padding: 27% 28%;
    background:#4f6173;
    border-radius: 50%;
    font-size: 20px;
}